equinox/target/classes/balanceinq-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">

	<flow name="balanceInqConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
		<![CDATA[
			msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
			   <soapenv:Header>
			      <ser:headerAuth>
			         <token>' + flowVars['tokennc'] + '</token>
			      </ser:headerAuth>
			   </soapenv:Header>
			   <soapenv:Body>
			      <ser:loadBalanceInquiry>
			            <accountID>' + originalPayload['accountID'] + '</accountID>
			         <username>' + originalPayload['msisdn'] + '</username>
			      </ser:loadBalanceInquiry>
			   </soapenv:Body>
			</soapenv:Envelope>';
			payload = msg;]]>
		</expression-component>
		<http:request config-ref="HTTP_Request_Configuration"
			path="accounts" method="POST" doc:name="HTTP" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable value="#[xpath3('//status/message')]"
			variableName="status" doc:name="Variable" />
		<set-variable value="#[xpath3('//formattedBalance')]"
			variableName="balance" doc:name="Variable" />
		<set-variable value="#[xpath3('//formattedReservedAmount')]"
			variableName="reserved" doc:name="Variable" />
		<choice>
			<when expression="#[flowVars['status'] == 'PROCESSED']">
				<set-payload value="#[flowVars['originalPayload']]" />
				<pooled-component>
					<spring-object bean="JWTProcessor" />
				</pooled-component>
				<expression-component doc:name="Expression">
					<![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['balance']= flowVars['balance'];
					responseMap['reservedAmount']= flowVars['reserved'];
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus('PROCESSED');			
					payload = responseMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
					<![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(flowVars['status']);			
					payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<logger level="INFO"
			message="[#[message.id] BALANCE-INQ Response : #[payload]]" />
		<json:object-to-json-transformer
			doc:name="Object 
			to JSON" mapper-ref="NonNullMapper" />
	</flow>

</mule>
